@model TestWebSite.Components.UI.TileModel

@foreach (var item in Model.Tiles)
{
    <div class="tile-container">
    <h2 class="tile-header">@item.TileText</h2>
    <div class="tile-img">
        <figure>
            <img src="@item.TileImage" height="100" width="100" />
            <figcaption aria-hidden="true">@item.TileText</figcaption>
        </figure>
    </div>
</div>
}

