
@section Aside {

    

}

@section Main {
<div class="row"><br /></div>
<div class="row">
    <bootstrap-panel title="So you think you're a movie star eh?" type="@TestWebSite.Components.UI.Bootstrap.PanelTagHelper.PanelType.Primary" subtitle="This is a subtitle">
        <SoYouThinkYouAreAStar/>
    </bootstrap-panel>
</div>



}

@section Footer {
    <footer>
        <p>&copy; 2016 - TestWebSite</p>
    </footer>
}

