
<!DOCTYPE html>
<html>
<head>
    @await Component.InvokeAsync("TestWebSite.Components.UI.HtmlHead", new { title = "My Site Title", stylefile = "/Component.Tile/css/Tile.css" })

</head>
<body>
    @await Component.InvokeAsync("TestWebSite.Components.UI.Navigation")



<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - TestWebSite</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
