@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    Panel should appear below.
    <hr/>
    <UIComponents.PanelWithTiles model-source="Data.Policy.KeyFactsPanelWithTiles"/>
    <hr/>
    Panel should appear above. 


</div>
