@using System.ComponentModel
@using UIAbstraction.Data.Policy
@using UIAbstraction.UI.Components
@inject UIAbstraction.Context.IResource resource

@{
    
    ViewData["Title"] = "Insure Me";
}

<hr/>

<div class="row">

    
      
</div>
