@using System.ComponentModel
@using UIAbstraction.Data.Policy
@using UIAbstraction.UI.Components
@inject UIAbstraction.Context.IResource resource

@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Insure Me";
}


<div class="row">

    <h1>Payments!</h1>
    
      
</div>
